<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-6 text-center">
            <button type="button" class="btn btn-success my-1" (click)="abrirModalAdicionar()"><i class="fas fa-plus"></i> Adicionar paciente</button>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <ul class="list-group list-group-item-action" *ngFor="let paciente of pacientes">
                <div class="dropdown">
                    <a class="list-group-item list-group-item-action" (click)="abrirModalDetalhes(paciente)" >{{ paciente.id }} - {{ paciente.nome }}
                    </a>
                </div>
            </ul>
            <h6 *ngIf="pacientes == null" class="text-center">Nenhum paciente encontrado!</h6>
        </div>
    </div>
</div>