<button type="button" class="btn btn-success" (click)="abrirModal()"><i class="fas fa-plus"></i> Adicionar
    consulta</button>

<div class="container">

    <div class="row d-flex justify-content-center">
        <div class="col-10">
            <form [formGroup]="form" *ngIf="consultas != null">
                <div class="form-group">
                    <label for="nome">Paciente</label>
                    <select class="form-control form-control-lg" formControlName="idPaciente">
                        <option value="{{paciente.id}}" ng-bind="idPacienteFiltrado" *ngFor="let paciente of pacientes">
                            {{ paciente.nome }}</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary" (click)="buscar()"><i class="fas fa-search"></i>
                Buscar</button>
            <button type="button" class="btn btn-secondary" (click)="limpar()"><i class="fas fa-eraser"></i> Limpar
                Filtro</button>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <ul class="list-group" *ngFor="let consulta of consultas">
                <li class="list-group-item">
                    <h6>Paciente: {{ consulta.paciente.nome }}</h6>
                    <p>
                        Inicio: {{ formatarDataConsulta(consulta.inicio) }}
                    </p>
                    <p>
                        Fim: {{ formatarDataConsulta(consulta.fim) }}
                    </p>
                    <p *ngIf="consulta.observacoes != null">
                        Observações: {{ consulta.observacoes }}
                    </p>
                    <button type="button" class="btn btn-success" (click)="finalizar(consulta)">Finalizar</button>
                    <button type="button" class="btn btn-danger" (click)="cancelar(consulta)">Cancelar</button>
                </li>
            </ul>
            <h6 *ngIf="consultas == null">Nenhuma consulta encontrada!</h6>
        </div>
    </div>
</div>